@charset 'utf-8';

/* 
Mobile first grid system
Built by Inktrap
http://www.inktrap.co.uk
*/


/* Global */
/* --------------------------------------------------------------------------------------------- */

/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-collapse:collapse;border-spacing:0;}

/* Basics */
body {width: 100%; -webkit-text-size-adjust: none;}
.container {width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.row {width: auto; max-width: 1500px; overflow: hidden; margin: 0 auto;}

/* Grid items */
.s1, .s2, .s3, .s4,
.m1, .m2, .m3, .m4, .m5, .m6,
.l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8, .l9, .l10, .l11, .l12 {float: left; min-height: 1px; overflow: hidden; display: block;}

/* Padding */
.pad {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

/* Images */
img {margin: 0 auto; height: auto; display: block;}
img, object, video, audio {max-width: 100%;}

/* Responsive video containers */
.embed-container {position: relative; height: 0; overflow: hidden; padding-bottom: 56.25%;}
.embed-container iframe, .embed-container object {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}


/* Small */
/* --------------------------------------------------------------------------------------------- */

.row {margin-bottom: 30px;}

.s1 {width: 25%;}
.s2 {width: 50%;}
.s3 {width: 75%;}
.s4 {width: 100%;}

.pad {padding: 20px;}

/* Helper classes */
.s-visible {display: block;}
.s-removed {display: none;}


/* Medium */
/* --------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 600px) {

.container {padding-left: 35px; padding-right: 35px;}
.row {margin-bottom: 0;}

.m1 {width: 16.666666667%;}
.m2 {width: 33.333333334%;}
.m3 {width: 50%;}
.m4 {width: 66.666666668%;}
.m5 {width: 83.333333335%;}
.m6 {width: 100%;}

.pad {padding: 25px;}

/* Helper classes */
.s-removed, .m-visible {display: block;}
.m-removed {display: none;}

} /* End media query */


/* Large */
/* --------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 990px) {

.container {padding-left: 50px; padding-right: 50px;}

.l1 {width: 8.3333333333%;}
.l2 {width: 16.666666667%;}
.l3 {width: 25%;}
.l4 {width: 33.333333333%;}
.l5 {width: 41.666666667%;}
.l6 {width: 50%;}
.l7 {width: 58.333333333%;}
.l8 {width: 66.666666666%;}
.l9 {width: 75%;}
.l10 {width: 83.333333333%;}
.l10 {width: 91.666666666%;}

.pad {padding: 40px;}

/* Helper classes */
.s-removed, .m-removed, .l-visible {display: block;}
.l-removed {display: none;}

} /* End media query */


/* Extra Large */
/* --------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 1200px) {

.container {padding-left: 65px; padding-right: 65px;}

.pad {padding: 55px;}

/* Helper classes */
.s-removed, .m-removed, .l-removed, .xl-visible {display: block;}
.xl-removed {display: none;}

} /* End media query */
