@charset 'utf-8';

/* 
PROJECT_NAME
Built by Inktrap
http://www.inktrap.co.uk
*/

html, button, input {font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif; -webkit-font-smoothing: antialiased; -webkit-font-variant-ligatures: common-ligatures; -moz-font-variant-ligatures: common-ligatures; -o-font-variant-ligatures: common-ligatures; -ms-font-variant-ligatures: common-ligatures; font-variant-ligatures: common-ligatures;}
body {color: #000; font-size: 0.9em; line-height: 1.4; background-color: #fff;}


/* Fonts */
/* --------------------------------------------------------------------------------------------- */

/* @font-face code here */


/* Helpers */
/* --------------------------------------------------------------------------------------------- */

.invisible {position: absolute; left: -999em;} /* Can be seen by screen readers */
.removed {display: none;}
.border-box {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.clearfix {zoom: 1; overflow: visible !important;}
.clearfix:after {content: ''; display: block; clear: both; height: 0;}


/* Typography */
/* --------------------------------------------------------------------------------------------- */

/* Selected text style */
::selection {} /* Selected text style */

/* Basics */
strong, b {font-weight: bold;}
em, i {font-style: italic;}

a {color: #666666; text-decoration: none; -webkit-transition: color 0.2s; -moz-transition: color 0.2s; -o-transition: color 0.2s; -ms-transition: color 0.2s; transition: color 0.2s;}
a:hover {color: #000000;}

.page-title {font-size: 2.5em;}

.wysiwyg h2, .wysiwyg h3, .wysiwyg h4,
.h1, .h2, .h3, .h4 {font-weight: bold; margin-bottom: 0.5em; line-height: 1.8;}
.h1, .wysiwyg h1 {font-size: 1.8em;}
.h2, .wysiwyg h2 {font-size: 1.6em;}
.h3, .wysiwyg h3 {font-size: 1.4em;}
.h4, .wysiwyg h4 {font-size: 1.2em;}

.p,
.wysiwyg p,
.wysiwyg ul,
.wysiwyg ol,
.wysiwyg img {margin-bottom: 1.2em;}

.wysiwyg ul, .ul,
.wysiwyg ol, .ol {padding-left: 2em;}
.wysiwyg ul li, .ul li {list-style: disc outside;}
.wysiwyg ol li, .ol li {list-style: decimal outside;}


/* Header and navigation */
/* --------------------------------------------------------------------------------------------- */

.header {}

.nav-primary {}
.nav-primary li {display: block;}
.nav-primary li a {display: block; width: 100%;}


/* Content */
/* --------------------------------------------------------------------------------------------- */

.main {}


/* Footer */
/* --------------------------------------------------------------------------------------------- */

.footer {}


/* Medium */
/* --------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 600px) {

body {font-size: 0.95em;}

/* Header and navigation */
.nav-primary {}
.nav-primary li {display: inline-block;}
.nav-primary li a {display: block; width: auto;}

}


/* Large */
/* --------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 990px) {

body {font-size: 1em;}

}


/* Extra Large */
/* --------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 1200px) {

body {font-size: 1em;}

}


/* Retina images */
/* --------------------------------------------------------------------------------------------- */

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {

.logo {background-image: url('../images/'); background-size: 200px 31px;} 

}

/* Retina and medium or higher */
@media only screen and (-webkit-min-device-pixel-ratio: 2 and min-width: 767px) {

}